<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    alt="Dipretreat Logo"
    src="assets/logowhite.jpg"
  />
  <div class="spacer"></div>
  <div class="spacer"></div>
  <i (click)="logout()"
     class="fa fa-sign-out"></i>
</div>
<div id="wrapper">
  <button type="button" class="btn btn-outline-info btn-lg" (click)="gotoInsertData()">
    <img class = "iconbtn" src="https://www.seekpng.com/png/detail/62-625261_vector-clipart-golden-gate-bridge-golden-gate-bridge.png" alt="Vector Clipart Golden Gate Bridge - Golden Gate Bridge Icon Png@seekpng.com"> SELECT PREMISES</button>
  <button type="button" class="btn btn-outline-info btn-lg" (click)="gotoVerifyAmpunt()">
    <img  class = "iconbtn" src="https://www.pngitem.com/pimgs/m/78-789401_image-result-for-europe-icon-european-union-future.png">
    <span>SELECT COUNTRIES </span></button>
</div>

